body{
    background-image: url(/Img/nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   
}
.heading{
    color: white;
    text-shadow: 3px 4px 4px rgb(38, 0, 255);
    text-align: center;
}

.demo{
    margin: 60px;
    color: white;
    padding: 60px;
    background-color: #5a55556b;
    border: 3px solid red;
}