.hover_effect:hover{
    color: aqua;
    background-color: yellow;
    font-size: 40px;
    text-shadow: 5px 5px 8px blue;

}

.hover_effect{
    color: brown;
}

button{
    background-color: chocolate;
    font-size: 15px;
    padding: 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer; 
}

button:active{
    background-color: blue;
    font-size: 20px;
    padding: 20px;
    color: white;
    border-radius: 15px;
}

a:visited{
    color: rgb(13, 144, 11);
}

/* it is used to input text area background color change
input:focus{
    background-color: blue;
} */


/* ul tag css with li tag start*/
ul{
    width: 300px;
    padding: 20px;
    list-style-type: none;/* this proprety is used to the remove a butlet point */
}

li{
    padding: 10px;
    border: 3px solid rgb(188, 15, 186);
    margin-bottom: 10px;
    border-radius: 10px;
}

li:nth-child(even){
    background-color: aqua;
}

li:nth-child(odd){
    background-color: aquamarine;
}

li:first-child{
    background-color: blueviolet;
    color: white;
}

li:last-child{
    background-color: rgb(41, 3, 77);
    color: white;
}

li:nth-child(5){
    background-color: darkblue;
}



/* ul tag css with li tag end*/

input[text]{
    border: 2px solid black;
    color: white;
}

input[placeholder]{
    background-color: black;
    color: white;
}