.container{
    position: relative;
    margin: 50px;

}

div{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    border: 3px solid white;
}

.blue{
    background-color: blue;
    left: 40px;
    z-index: 1;

}

.red{
    background-color: red;
    left: 80px;
    z-index: 1;
    &:hover{
        z-index: 10;
    }
    
}

.green{
    background-color: green;
    left: 120px;
    z-index: 2;
}